#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
  }
  
  .skillTitle {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.7em;
    text-align: center;
  }
  
  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%; 
    max-width: 1200px; 
  }
  
  .skillsColumn {
    display: flex;
    flex-direction: column;
  }
  
  .skillItem {
    margin-bottom: 1em;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skillItem a {
    display: block;
    padding: 1em;
    background-color: #30C88F;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
  }
  
  .skillItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .skillItem a:hover {
    background-color: #28a745;
  }
  
  @media screen and (max-width: 840px) {
    .skillTitle {
      font-size: 3rem; 
    }
  
    .skillsContainer {
      grid-template-columns: repeat(1, 1fr); 
      gap: 0.5em; 
    }
  
    .skillItem a {
      padding: 0.8em;
    }
  }
  
  @media screen and (max-width: 480px) {
    .skillTitle {
      font-size: 2.5rem; 
      margin-bottom: 0.5em;
    }
  
    .skillsContainer {
      gap: 0.5em;
    }
  
    .skillItem a {
      padding: 0.7em; 
      font-size: 0.9rem; 
    }
  
    .skillItem:hover {
      transform: none; 
      box-shadow: none;
    }
  }
  