.links-container {
    display: flex; 
    justify-content: center; 
    margin-top: 3em; 
    margin-bottom: 5em;
  }
  
  .links {
    display: flex; 
    gap: 1em; 
  }
  
  .links a {
    color: whitesmoke; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  .links a:hover {
    color: #4daf52; 
    cursor: pointer; 
  }
  