#intro {
    height: auto; /* Allow it to adjust based on content */
    overflow: visible; /* Make sure content is not cut off */
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}


.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    width: auto;
    filter: opacity(0.09);
    /* filter: sepia(30%) hue-rotate(90deg) saturate(1.0) opacity(0.1); */
    /* filter: grayscale(100%) opacity(0.3); Dark overlay */
}



.hello {
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.waveIcon {
    width: 32px; 
    height: auto;
    margin-left: 8px; 
    vertical-align: middle; 
}

/* the name */
.introContent {
    max-width: 100rem;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 650;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
}


/* adventuer, thinker, doer */
.introText2 {
    font-weight: 200;
    font-size: 44px;
}

/* as a technical */
.introText3 { 
    margin-top: 4rem;
    font-weight: 650;
    font-size: 3rem;
}

.introName {
    color: #4daf52;
}

/* at the intersection */
.introName2 {
    font-weight: 200;
    font-size: 44px;
}
/* below are */
.introPara {
    font-size: medium;
    font-weight: 200;
    margin-top: 2.5rem;
    font-size: 1.6rem;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.55rem 1rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 840px) {
    .bg {
        height: 60vh; 
    }
    .hello {
        font-size: 5vw; 
    }
    .introContent {
        font-size: 3rem; 
        padding: 1rem; 
    }
    .introText2 {
        font-size: 28px; 
    }
    .introText3 {
        font-size: 2rem; 
    }
    .introName2 {
        font-size: 28px; 
    }
    .introPara {
        font-size: 1.4rem; 
    }
}

@media screen and (max-width: 480px) {
    .bg {
        height: 60vh; 
    }
    .hello {
        font-size: 4.5vw; 
    }
    .introContent {
        font-size: 2.5rem; 
    }
    .introText2 {
        font-size: 24px; 
    }
    .introText3 {
        font-size: 1.8rem; 
    }
    .introName2 {
        font-size: 24px; 
    }
    .introPara {
        font-size: 1.2rem; 
    }
}
