#intro {
    min-height: calc(98.9vh - 7.5rem);
    height: auto; /* Adjust based on content */
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    overflow: visible; /* Allow content to be visible */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    width: auto;
    filter: opacity(0.09);
}

.hello {
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.waveIcon {
    width: 32px; 
    height: auto;
    margin-left: 8px; 
    vertical-align: middle; 
}

.introContent {
    max-width: 100rem;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 650;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
}

.introText2 {
    font-weight: 200;
    font-size: 44px;
}

.introText3 { 
    margin-top: 4rem;
    font-weight: 650;
    font-size: 3.8rem;
}

.introName {
    color: #4daf52;
}

.introName2 {
    font-weight: 200;
    font-size: 44px;
    
}

.introPara {
    font-size: medium;
    font-weight: 200;
    margin-top: 2.5rem;
    font-size: 1.6rem;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.55rem 1rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 556px) {
    .intro {
    min-height: calc(50vh - 5rem);

    }
    .bg {
        height: 50vh;
    }
    .introContent {
        font-size: 11vw; /* Smaller for better fitting */
    }

    .introText2 {
        font-size: 6vw;
    }

    .introText3 { 
        font-size: 8vw;
    }
    
    .introName2 {
        font-size: 5vw;
    }
    
    .introPara {
        font-size: 1rem;
    }
    .hello {
        font-size: 4vw; /* Smaller for better fitting */
    }
}

@media screen and (max-width: 480px) {
    .bg {
        height: 50vh;
    }
    .introContent {
        font-size: 7vw; /* Further reduction */
    }
    .hello {
        font-size: 5vw; /* Further reduction */
    }
}
